form {
    border-radius: 3px;
    border: 1px solid #a09e9e;
    padding: 40px;
    background: radial-gradient(#209bb7, transparent);
}

input {
    padding: 5px 20px;
    line-height: 16px;
    width: 100%;
    margin: 10px 0;
    background: lightyellow;

}
